configuration {
    modi: "window,drun,run,ssh,combi";
    location: 2;
    /* yoffset: 24; */
    font: "JetBrainsMono Nerd Font 11";
    terminal: "st";
    matching: "fuzzy";
    show-icons: false;
    fake-transparency: true;
}

#window {

}

@import "dmenu.rasi"

/* vim: ft=css */
